body{
    background-color: black;
}
#btn-cls{
    padding: 8px;
    border-radius: 12px;
    border: none;
}
#btn-cls:active{
    background-color: rgba(0, 0, 0, 0.427);
    color: white;
    border: white 1px solid;
}