*{
    box-sizing: border-box;
}
body{
    background-color: red;
    padding: 0;
    margin: 0;
    border: 0;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    widows: 100vw;
    height: 100vh;
}
.canvasArea{
    background-color: grey;
    height: 100%;
    width: 100%;
    padding: 10px;
}
#myCanvas{
    border-radius: 12px;
    border: none;
    padding: 10px;
}
.toolsArea{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.toolsArea div{
    border: 1px solid black;
}
.toolsArea button {
    width: max-content;
    height: min-content;
    margin: 2px;
    padding: 8px;
    border-radius: 12px;
}
.sideArea{
    background-color: antiquewhite;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
.meetingDetails{
    width: 100%;
    height: min-content;
    border: 1px solid black;
}
.members{
    border: 1px solid black;
    height: 90%;
}